:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

#root {
  width: 100%;
  min-height: 100dvh;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}
